html, body{
background-color: #FFFFFF;
font-family: 'Roboto', sans-serif;
}
.main{
width: 100%;
display: block;
background: #ababab;
}
.content-wrap{
width: 100%;
margin:0 auto;
border: 4px solid rgba(161, 161, 161, 0.5); 
border-radius: 20px;
overflow: hidden;
background: #ddaf35;
}
.content-left{
background: #0b0809;
color:#ddaf35;
float: left;
width: 100%;
padding: 30px;
}
.main-wrap{
text-align: center;
padding: 40px 0 0 0;
}
.main-day{
font-size: 30px;
font-weight: bold;
}
.main-date{
font-size: 120px;
font-weight: bold;
margin: 20px 0;
}
.todo-wrap{
padding: 0 0 0 40px;
}
.todo-title{
font-size: 20px;
font-weight: 100;
margin: 0 0 10px 0;
}
.input-box{
width: 50%;
margin-right: 20px;
height: auto; 
background: #0b0809;
color: #ddaf35;
line-height : normal;
padding: .8em .5em 0 0; 
font-family: inherit;
border: 0; 
border-bottom: 1px dashed #ddaf35;; 
border-radius: 0; 
outline-style: none; 
-webkit-appearance: none; 
-moz-appearance: none; 
appearance: none;
}
.input-data{
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background: #ddaf35;
    border: none;
    color: #0b0809;
    border-radius: 10px;
    }
    .input-data:hover{
    background: #ffffff;
    color: #0b0809;
    }
    .input-list{
        padding: 0;
        list-style: none;
        margin: 0;
        margin-left: 15px;
        width: 100%;
    }
    .input-list > li{
        width: 70%;
        display: flex;
        align-items: center;
    }
    .input-list > li > span{
    display: inline-block;
    font-size: 13px;
    width: 300px;
    /* float: left; */
    margin: 0 10px 0 -10px;
    color: #ddaf35;
    
    }
    .btn-amend-data{
        text-align: center;
        color: #ddaf35;
        cursor: pointer;
        font-size: 13px;
        padding: 10px;
        background: #0b0809;
        border: none;
        border-radius: 10px;
        /* border: springgreen 1px solid; */
    }
    .input-list > li > .checked{
    color: #FFFFFF;
    text-decoration:line-through
    }
    .del-data{
    text-align: center;
    color: #ddaf35;
    cursor: pointer;
    font-size: 13px;
    padding: 10px;
    background: #0b0809;
    border: none;
    border-radius: 10px;
    /* border: springgreen 1px solid; */

    }

.content-right{
float: left;
width: 90%;
padding: 10px;
}
#btn-today {
    border:  1px solid black;
    border-radius: 15px;
    padding: 10px;
    background: black;
    color: white;
    margin: 0 auto;
}
#calendar{
    align-items: center;
}
#current-year-month{
    align-items: center;
}
thead tr:last-child td {
    align-items: center;
}
.sun{
color:#ef3333;
}
.sat{
color:#2107e0;
}
.content-right table tr td{
width: 40px;
height: 40px;
text-align: center;
font-size: 20px;
font-weight: bold;
}
.active{
background: #0b0809;
border-radius: 50%;
color: #ffffff;
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__overlay{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal__content{
    background-color: white;
    padding: 50px 70px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    top: 0;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#amend-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.amend-box{
    width: 250px;
    height: 20px;
    margin: 5px 0;
}

.amend-data{
    cursor: pointer;
    font-size: 10px;
    padding: 10px 15px;
    margin: 0 0 0 5px;
    background: #ddaf35;
    border: none;
    color: #0b0809;
    border-radius: 10px;
}

.hidden{
    display: none;
}


@media(min-width: 850px){
.main{
    display: flex;
    align-items: center;
    justify-content:  center;
    width: 100vw;
    height: 100vh;
    background: #ababab;
}
.content-wrap{
    width: 800px;
    height: 600px;
    margin:0 auto;
    border: 4px solid rgba(161, 161, 161, 0.5); 
    border-radius: 20px;
    overflow: hidden;
    background: #ddaf35;
}
.content-left{
    background: #0b0809;
    color:#ddaf35;
    float: left;
    width: 360px;
    height: 600px;
    padding: 90px 20px 20px 0;
}
.main-wrap{
    text-align: center;
    margin: 20px 0 0 0;
}
.main-day{
    font-size: 30px;
    font-weight: bold;
}
.main-date{
    font-size: 120px;
    font-weight: bold;
    margin: 20px 0;
}
.todo-wrap{
    padding: 0 0 0 40px;
}
.todo-title{
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px 0;
}
.input-box{
    width: 70%;
    height: auto; 
    background: #0b0809;
    color: #ddaf35;
    line-height : normal;
    padding: .8em .5em 0 0; 
    font-family: inherit;
    border: 0; 
    border-bottom: 1px dashed #ddaf35;; 
    border-radius: 0; 
    outline-style: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}
.input-data{
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    margin: 20px 0 15px 0;
    background: #ddaf35;
    border: none;
    color: #0b0809;
    border-radius: 10px;
}
.input-data:hover{
    background: #ffffff;
    color: #0b0809;
}
.input-list > span{
    font-size: 10px;
    width: 60%;
    float: left;
    color: #ddaf35;
}
.del-data{
    color: #ddaf35;
    cursor: pointer;
    font-size: 13px;
    padding: 10px;
    background: #0b0809;
    /* border: none; */
    border-radius: 10px;
}

.content-right{
    float: left;
    width: 360px;
    height: 600px;
    padding: 100px 20px 20px 20px;
}
.sun{
    color:#ef3333;
}
.sat{
    color:#2107e0;
}
.content-right table tr td{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.active{
    background: #0b0809;
    border-radius: 50%;
    color: #ffffff;
}
}