* {
  margin: 0;
  font-family: "Poiret One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Poiret One", cursive;
  font-size: 16px;
}

body {
  font-family: "Poiret One", cursive;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a,
button {
  cursor: pointer;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}

:root {
  --main-bg-color: #ddcdbd;
  --border-color: #515c42;
  --memo-bg-color: #ede6de;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html, body {
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg-color);
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
}

.navbar .burger-menu {
  width: 40px;
  height: 20px;
  position: relative;
  z-index: 10;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.navbar .burger-menu.active {
  margin-left: 15%;
}

.navbar .burger-menu .bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #c6c1bf;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .bar:nth-child(1) {
  top: 0;
}

.navbar .bar:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar .bar:nth-child(3) {
  bottom: 0;
}

.navbar .burger-menu.active .bar {
  background-color: #fff;
}

.navbar .burger-menu.active .bar:nth-child(1) {
  top: calc(50% - 1px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .burger-menu.active .bar:nth-child(2) {
  top: calc(50% - 1px);
  opacity: 0;
}

.navbar .burger-menu.active .bar:nth-child(3) {
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar .menubox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: -20%;
  width: 20%;
  height: 100%;
  background-color: #ede6de;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .menubox.active {
  left: 0;
}

.navbar .item {
  width: 100%;
  padding: 0 30px;
  margin: 0;
  cursor: pointer;
}

.navbar .item a {
  text-decoration: none;
  color: #5d5c58;
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
  padding-left: 10px;
}

.navbar .item a:hover {
  color: #babd11;
}

.navbar .item a li {
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

main .board {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
}

main .board .memo {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--memo-bg-color);
  top: 10px;
  left: 10px;
  width: 200px;
  height: 200px;
}

main .board .move {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16px;
  border-bottom: 1px solid var(--border-color);
  cursor: -webkit-grab;
  cursor: grab;
}

main .board .close {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 100%;
  border-right: 1px solid var(--border-color);
  background-color: #515c42;
  cursor: pointer;
}

main .board .resize {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  cursor: se-resize;
}

main .board .text {
  position: absolute;
  top: 16px;
  width: 100%;
  height: calc(100% - 16px);
  background-color: transparent;
  resize: none;
  color: var(--border-color);
  padding: 5px;
  outline: none;
  font-size: 18px;
}

main .board .selection {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.372);
  pointer-events: none;
}

canvas {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  z-index: -1;
}
/*# sourceMappingURL=memo.css.map */